<div class="container-fluid">
  <div cdkDropListGroup class="row">
    <div class="col-4" *ngFor="let column of tasksService.getBoards() | async">
      <h2>{{ column.title }}</h2>

      <div cdkDropList
           [cdkDropListData]="column.tasks"
           class="example-list"
           (cdkDropListDropped)="drop($event)">

          <div cdkDrag
               class="example-box"
               [ngStyle]="{ 'background': column.color }"
               *ngFor="let task of column.tasks">

            <app-task-card [task]="task" (emitDeleteTask)="onDeleteTask($event, column.id)"></app-task-card>

          </div>

      </div>

    </div>

  </div>

</div>


<!-- <div cdkDropListGroup class="d-flex">
  <div
    cdkDropList
    *ngFor="let list of data"
    [cdkDropListData]="list"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >

    <div class="example-container">
      <div
        cdkDrag
        [cdkDragData]="item"
        class="example-box"
        *ngFor="let item of list"
      >
        {{ item }}

      </div>
    </div>

  </div>
</div> -->

<!-- <div cdkDropListGroup>
  <div
    cdkDropList
    *ngFor="let list of lists"
    [cdkDropListData]="list"
    class="list-group example-list"
    (cdkDropListDropped)="drop($event)"
  >
  <div class="listContainer">

  </div>
    <div class="list-group-item" cdkDrag [cdkDragData]="item" *ngFor="let item of list">
      {{ item }}
    </div>

  </div>
</div> -->

