<mat-sidenav-container fullscreen>

  <!-- Sidenav -->
  <mat-sidenav #sidenav mode="over" [ngStyle]="{ width: '250px' }" >
    <mat-toolbar>
      <span>TaskFlow</span>
      <span class="spacer"></span>

      <button mat-icon-button  (click)="sidenav.toggle()">
        <mat-icon>close</mat-icon>



      </button>
    </mat-toolbar>

    <button class="w-100 mt-3" mat-raised-button	color="warn" [routerLink]="['/tasks/list-tasks']" >TASKAS</button>

    <button class="w-100 mt-3" mat-raised-button	color="warn" ><a href="/tasks/users-list">USUARIS </a></button>


  </mat-sidenav>

  <!-- Header -->
  <app-header [sidenav]="sidenav"></app-header>

  <div>
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
