<div class="d-flex justify-content-between align-items-start mb-2">
  <h5 class="mt-1">{{ task.text }}</h5>

  <div>
    <button mat-icon-button (click)="onTaskEdit(task.id!, task)">
      <mat-icon class="icon">edit</mat-icon>
    </button>

    <button mat-icon-button (click)="onTaskDelete(task.id!)">
      <mat-icon class="icon">delete</mat-icon>
    </button>
  </div>
</div>

<div class="d-flex justify-content-end align-items-center mb-2">
  <!-- TODO: Canviar el disseny de com es mostrar el responsable -->
  <span class="fw-medium"> {{ task.manager?.name }} </span>
</div>
