<div class="card p-3 m-2">

  <p-toolbar styleClass="mb-4 gap-2">

      <ng-template pTemplate="left">
          <button pButton
                  pRipple
                  label="New"
                  icon="pi pi-plus"
                  class="p-button-success mr-2 rounded"
                  (click)="openDialog()">
          </button>

          <button pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-danger rounded"
                  (click)="deleteSelectedUsers()"
                  [disabled]="!selectedUsers || !selectedUsers.length">
          </button>
      </ng-template>

  </p-toolbar>
  <!-- <p-table [value]="(tournaments$ | async)" (Per fer-ho amb observables) -->
  <p-table [value]="users"
           [(selection)]="selectedUsers"
           [tableStyle]="{'min-width': '50rem', 'overflow-x': 'hidden'}"
           [rowHover]="true"
           [paginator]="true"
           [rows]="10"
           [showCurrentPageReport]="true"
           [loading]="loading" >

      <ng-template pTemplate="caption" style="overflow-x: hidden;">
          <div class="flex align-items-center justify-content-between">
              <h5 class="m-0">List of Users</h5>

              <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText
                         type="text"
                         [(ngModel)]="term"
                         (input)="searchUser()"
                         placeholder="Search..." />
              </span>
          </div>
      </ng-template>

      <ng-template pTemplate="header" style="overflow-x: hidden;">
          <tr class="pad-0-th">
              <th style="width: 4rem">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="id">
                  Id
                  <p-sortIcon field="id"></p-sortIcon>
              </th>
              <th pSortableColumn="name">
                  Name
                  <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th pSortableColumn="lastname">
                  Last Name
                  <p-sortIcon field="lastname"></p-sortIcon>
              </th>
              <th pSortableColumn="Email">
                  Email
                  <p-sortIcon field="Email"></p-sortIcon>
              </th>
              <th pSortableColumn="address">
                  Address
                  <p-sortIcon field="address"></p-sortIcon>
              </th>
              <th pSortableColumn="tel">
                  Tel
                  <p-sortIcon field="tel"></p-sortIcon>
              </th>
              <th></th>
          </tr>
      </ng-template>

      <ng-template pTemplate="body" let-user style="overflow-x: hidden;">
          <tr>
              <td>
                  <p-tableCheckbox [value]="user"></p-tableCheckbox>
              </td>
              <td><span class="user-badge status-auth"> {{ user.id }} </span></td>
              <td> {{ user.name }} </td>
              <td> {{ user.lastname }} </td>
              <td><span class="user-badge status-auth no-bg"> {{ user.email }} </span></td>
              <td> {{ user.address }} </td>
              <td> {{ user.tel }} </td>
              <td>
                  <span class="flex">
                      <button pButton
                              pRipple
                              icon="pi pi-pencil"
                              class="p-button-rounded p-button-success mr-2 rounded-circle"
                              (click)="editUser(user)">
                      </button>

                      <button pButton
                              pRipple
                              icon="pi pi-trash"
                              class="p-button-rounded p-button-warning rounded-circle"
                              (click)="deleteUser(user)">
                      </button>
                  </span>
              </td>
          </tr>
      </ng-template>

      <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
              In total there are {{users ? users.length : 0 }} users.
          </div>
      </ng-template>

  </p-table>
</div>

<p-dialog appendTo="body"
          [(visible)]="userDialog"
          [style]="{width: '450px'}"
          header="User Details"
          [modal]="true"
          styleClass="p-fluid">

    <ng-template pTemplate="content">
        <form [formGroup]="formNewUser">

            <!-- <img [src]="user | image" alt="Imagen Valorant" class="tournament-image" *ngIf="user.image"> -->
            <div class="formgrid grid">
              <div class="field col">
                  <label for="name">Name</label>
                  <input pInputText
                         type="text"
                         formControlName="name"
                         [(ngModel)]="user.name"/>
                  <small class="p-error" *ngIf="submitted && !user.name">Name is required.</small>
              </div>

              <div class="field col">
                  <label for="lastname">Last Name</label>
                  <input pInputText
                         type="text"
                         formControlName="lastname"
                         [(ngModel)]="user.lastname"/>
                  <small class="p-error" *ngIf="submitted && !user.lastname">Last name is required.</small>
              </div>
            </div>

            <div class="field">
              <label for="email">Email</label>
              <input pInputText
                     type="email"
                     formControlName="email"
                     [(ngModel)]="user.email"/>
              <small class="p-error" *ngIf="submitted && !user.email">Email is required.</small>
            </div>

            <div class="field">
              <label for="address">Address</label>
              <input pInputText
                     type="text"
                     formControlName="address"
                     [(ngModel)]="user.address"/>
              <small class="p-error" *ngIf="submitted && !user.address">Address is required.</small>
            </div>

            <div class="field">
              <label for="tel">Tel</label>
              <input pInputText
                     type="number"
                     formControlName="tel"
                     [(ngModel)]="user.tel"/>
              <small class="p-error" *ngIf="submitted && !user.tel">Tel is required.</small>
            </div>


        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton
                pRipple
                label="Cancel"
                icon="pi pi-times"
                class="p-button-text"
                (click)="hideDialog()">
        </button>

        <button pButton
                pRipple
                type="submit"
                label="Save"
                icon="pi pi-check"
                class="p-button-text"
                (click)="saveUser()">
        </button>
    </ng-template>

</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
