<div mat-dialog-content>
  <label class="mb-3" *ngIf="!data">Add task</label>
  <label class="mb-3" *ngIf="data">Edit task</label>

  <mat-form-field class="w-100">
    <mat-label>Name</mat-label>
    <input matInput
           [(ngModel)]="task.text"
           value="task.text">
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>Description</mat-label>
    <input matInput
           [(ngModel)]="task.desc"
           value="task.desc">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Manager User</mat-label>
    <mat-select [(ngModel)]="task.manager"
                required>
        <mat-option *ngFor="let user of users"
                    [value]="user">
            {{ user.name }}
        </mat-option>
    </mat-select>
</mat-form-field>

  <div mat-dialog-actions>
    <button mat-raised-button (click)="confirmAddColumn()" color="primary">Confirm</button>
    <button mat-button (click)="closeDialog()">Cancel</button>
  </div>
</div>
