<div class="container-fluid mt-3">
  <div cdkDropListGroup class="row">
    <div class="col-sm-6 col-lg-3 mb-3" *ngFor="let column of columns">

      <!-- Titol de la Columna -->
      <div class="d-flex justify-content-between align-items-center p-2 shadow-sm column-header">
        <h2 class="m-0">{{ column.title }}</h2>

        <button mat-icon-button class="icon-delete" (click)="onDeleteColumn(column.id!.toString())">
          <mat-icon style="font-size: 20px;">delete</mat-icon>
        </button>
      </div>

      <!-- Afegir Nova Tasca -->
      <button mat-raised-button (click)="onAddTask(column.id!, column)" class="w-100 mb-1 btn-add">
        <mat-icon>add</mat-icon>
      </button>

      <!-- <app-dialog (emitText)="onAddTask($event, column.id!)" [question]="'Add new task in ' + column.title + ' column'">
        <button mat-raised-button class="w-100 mb-1 btn-add">+</button>
      </app-dialog> -->

      <!-- <div cdkDropList [cdkDropListData]="column.tasks" class="example-list" (cdkDropListDropped)="drop($event)">
        <div cdkDrag class="example-box" [ngStyle]="{ 'background': column.color }" *ngFor="let task of column.tasks">

          Dentro del bucle *ngFor
          <app-task-card [task]="task" (emitEditTaskText)="onEditTaskText($event.taskId, $event.newText)"
            (emitDeleteTask)="onDeleteTask($event, column.id)"></app-task-card>

        </div>
      </div> -->

    </div>
  </div>
</div>

<div class="fab-add-column">
  <button mat-fab
          color="primary"
          (click)="onAddColumn()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<!-- <app-dialog class="fab-add-column" (emitText)="addColumn($event)" question="Add new column">
  <button mat-fab color="primary">
    <mat-icon>add</mat-icon>

  </button>
</app-dialog> -->

