<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <div class="card text-center">
        <div class="card-body">

          <h1 class="display-1 text-danger">404</h1>
          <h2 class="display-4">Página no encontrada</h2>

          <p class="lead">Lo sentimos, la página que estás buscando no existe.</p>
          <a routerLink="/users" class="btn btn-primary">Volver a la página de inicio</a>

        </div>
      </div>

    </div>
  </div>
</div>
