<mat-sidenav-container fullscreen>

  <!-- Sidenav -->
  <mat-sidenav #sidenav mode="over" [ngStyle]="{ width: '250px' }" >
    <mat-toolbar>
      <span>TaskFlow</span>
      <span class="spacer"></span>

      <button mat-icon-button
              (click)="sidenav.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <a routerLink="/tasks"
         mat-list-item
         (click)="sidenav.toggle()">
          <!-- <mat-icon mat-list-icon>label</mat-icon> -->
          <span>Tasks</span>
      </a>

      <a routerLink="/users"
         mat-list-item
         (click)="sidenav.toggle()">
          <!-- <mat-icon mat-list-icon>add</mat-icon> -->
          <span>Users</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar class="shadow">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="">TaskFlow</span>

    <span class="spacer"></span>

    <!-- <app-dialog (emitText)="addColumn($event)" question="Add new column">
      <button mat-raised-button color="primary">
        New Column
      </button>
    </app-dialog> -->

  </mat-toolbar>

  <div>
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
